[2015-04-17 21:51] drejohnson opened #1 "SYMBOL_ITERATOR is not defined"
I'm not sure why this happens but it doesn't give this error on grigio's babel.
ReferenceError: SYMBOL_ITERATOR is not defined

[2015-04-19 08:12] pbastowski commented on #1
I have pushed an update to Atmosphere and Github. Please try **meteor update** in your app directory.

Sorry, that was my bad. I pushed the first version of the package with an error in package.js, somehow. This was my first meteor package :)

[2015-04-21 11:22] pbastowski commented on #1
@drejohnson so, is it working for you now? I'd like to close this issue if it is resolved.

[2015-04-21 13:01] drejohnson commented on #1
Yes, it works now. Thanks!

[2015-04-21 13:01] #1 closed, assigned to nobody

[2015-07-12 10:19] gabehayes opened #2 "Babel transformation breaks `$scope.$meteorCollection(<collection>).find`"
While I believe that I am aware of the root cause of the issue, I'm not entirely sure _which package_ the issue exists in.

Basically, I have an app running with the following packages enabled:

[code]

When I attempt to do a find on a collection from the client with:

[code]

I get the following error:

[code]

When I attempt to do a find on a collection from the client with:

[code]

I successfu

[2015-07-13 11:39] pbastowski commented on #2
The statement

[code]

returns an Array, not a Mongo/FS collection. That is why `find({})` does not work on it. The find method that is attached to the Array object expects a callback as an argument, not an object literal.

In your browser's DEV console try the following. Change Images to the name of your global object.

[code]

On the other hand, `<GlobalCollectionName>` returns a Mongo/FS cursor

[2015-07-13 17:50] gabehayes commented on #2
Yes, this makes total sense. I was under the impression that the `find` method of a `$meteorCollection` would return the Mongo cursor, but after digging into the docs a bit more I see where I am going wrong.

I should be using `publish` on the server to publish a filtered results and `subscribe` on the `$meteorCollection` in the client to watch those results.

I was attempting to do that `find` an

[2015-07-13 17:50] #2 closed, assigned to nobody

[2015-11-04 16:05] hlehmann opened #3 "Cordova app breaks"
Hi,
After deploying browser version works well but cordova version breaks.
It seems to be the files order that is not well respected (lib dir first).

[2015-11-04 16:06] hlehmann opened #4 "File order with mquandalle:bower"
Combine with mquandalle:bower, depedencies are loaded after app files. Is it possible to make packages/\* firsts in line ?

[2015-11-04 16:42] pbastowski commented on #3
Can you please provide more detail re the problem? A repo that duplicates the issue will help.

What version of Meteor are you using?

Do you get an error? If yes then please share it here.

Thanks.

[2015-11-04 20:52] pbastowski commented on #4
A repo for me to look at would help here, as I am not exactly sure what you mean. For instance, what "dependencies" are you referring to? Something to do with Bower perhaps? Or maybe you mean your own Meteor packages and that's why you mention "packages/*"?

So, yeah, not sure what you mean exactly.

As far as ordering files, a compiler plugin, such as this package, to my knowledge has no control

[2015-11-06 10:20] pbastowski commented on #3
I'm closing this issue. Reopen if need be

[2015-11-06 10:20] #3 closed, assigned to nobody

[2015-11-06 10:20] pbastowski commented on #4
Closing due to no response from reporter. Reopen if needed.

[2015-11-06 10:20] #4 closed, assigned to nobody

[2015-11-09 02:33] mrjason opened #5 "Conflict error"
I upgraded to Meteor 1.2 and now I am getting the following conflict error:

error: conflict: two packages included in the app (pbastowski:angular-babel and ecmascript) are both trying to handle *.js

[2015-11-09 02:39] #5 closed, assigned to nobody

[2015-11-09 02:39] mrjason commented on #5
i see there is a ng-babel now and it is intended for meteor 1.2

[2015-11-09 07:09] pbastowski commented on #5
Update: I re-read your message, above, and noticed that it is indeed the `ecmascript` package that is causing the error. So, here is my updated reply.

The `pbastowski:angular-babel` package that you installed originally is the correct one. What you do need to do is to remove Meteor's own `ecmascript` package, because it also tries to compile `.js` files, thus causing the error. `pbastowski:angula

[2015-11-15 14:40] ShimShamSam opened #6 "Add options to prevent Babel from listing all files its compiling"
Since switching to this package, Babel outputs the name of every file it compiles. Is there any way to turn this off? I tried setting "verbose" to false in the settings but that didn't help.

[2015-11-15 17:40] pbastowski commented on #6
I've updated the package to 1.0.3. From the README:

## Custom configuration with .babelrc

Place `.babelrc` at the root of your project to override certain default settings. This file is completely optional and may contain the following in JSON format. The values below are the default configuration.

[code]

[2015-11-15 17:59] ShimShamSam commented on #6
The README on GitHub has not been updated. So do I replace my babel.json with .babelrc or is one for the package and one for Babel's actual runtime?

[2015-11-15 18:00] pbastowski commented on #6
I see what you are referring to :) The meteor1.2 branch has it's own readme https://github.com/pbastowski/angular-meteor-babel/tree/meteor1.2

There is just the .babelrc for Meteor 1.2 version. There is no more babel.json. So, yes, rename `babel.json` to `.babelrc` and then restart meteor.

[2015-11-15 18:00] ShimShamSam opened #7 "Startup error"
[code]

[2015-11-15 18:04] pbastowski commented on #6
Also, on Atmosphere you get the latest README for Meteor 1.2 https://atmospherejs.com/pbastowski/angular-babel

[2015-11-15 18:08] pbastowski commented on #7
What is the exact contents of your .babelrc file?

[2015-11-15 18:09] ShimShamSam commented on #7
Ah crap, I'm dumb. It was a trailing comma in my .babelrc file.

[2015-11-15 18:09] #7 closed, assigned to nobody

[2015-11-15 19:50] pbastowski commented on #6
Closing this issue. If you still have problems specifically with Babel listing all the files it is compiling then feel free to reopen.

[2015-11-15 19:50] #6 closed, assigned to nobody

[2015-12-06 11:26] lokibg2 opened #8 "Unexpected character '#' (1:0) Error when building with Android"
Urgent help required!! I have been workin on this app using meteor and angular. Everything works fine as long as I haven't added the platform android. Once I did it and tried to build my app, I'm getting the below error.

While processing files with pbastowski:angular-babel (for target
   web.browser):
   packages/compileNGScript/plugin/ng-script-compiler.js:101:1: error: couldn't
   process sourc

[2015-12-06 11:44] pbastowski commented on #8
Can you please upload your repo and provide a link to it, so, I can have a look for you. Or otherwise, we can do a screen share on google hangouts, if you prefer.

Update: Do you know which file was being processed when the error was produced?

To enable the printing of file names to the console as they are compiled by Babel you need to add

[code]

to "babel.json" and then restart Meteor. If you

[2015-12-07 14:53] thinkrapido opened #9 "package collision with universe:ecmascript"
I've upgraded to meteor 1.2.1 and have the following issue:

[code]

What can I do?

[2015-12-07 15:06] pbastowski commented on #9
Try removing `universe:ecmascript` from your project and see if that helps.

[code]

`pbastowski:angular-babel` comes bundled with angular-meteor and can't be removed without removing `angular` from your project.

[2015-12-09 00:27] vangorra opened #10 "Setting system as the "modules" value doesn't make a difference."
Using the following configuration and my server side .js files are getting transpiled to commonjs, not systemjs.

[code]

[2015-12-09 08:57] pbastowski commented on #10
That's correct for the currently published package. It only supports SystemJS on the client side.

However, I have a branch that is being tested,
https://github.com/pbastowski/angular-meteor-babel/tree/feature/server-systemjs
which supports SystemJS also on the server side. You will need to clone the repo into your packages folder and then checkout **feature/server-systemjs**.

You will also need

[2015-12-09 15:41] vangorra commented on #10
Granted the concept of using a module loader on Meteor is pretty new. However the advantages are substantial. Out of curiosity, I've noticed several meteor packages seemingly only support module loaders on the client side. Do you have any insights into why this is? It makes it really difficult to write code for both client and server.

[2015-12-09 15:41] #10 closed, assigned to nobody

[2015-12-09 16:05] mgrivera opened #11 "Unable to debug es2015 code correctly via source maps"
Hi all,

I've just posted this issue in angular-meteor (github issue #878), but with no success.
This is my issue: I just want to configure _angular-babel_ to transpile my code, of course, _but_ to use source maps correctly, so when I debug my js code in chrome I can see my js2015 code and not the transpiled code (ie: es5 code).

For example: if I write this line of code in my js file:

[code]

I

[2015-12-09 17:26] pbastowski commented on #11
There is an issue with sourcemaps not working currently, which I am investigating.

Re your babel.json example above, the opening brace `}` is facing the wrong direction. It should be `{`.

[2015-12-09 23:52] pbastowski commented on #11
Ok, I think I have it fixed now, with inline sourcemaps.

Please add `angular-bebel` explicitly to your project, like this

[code]

and let me know if that helped.

[2015-12-11 12:34] mgrivera commented on #11
@pbastowski Hi and thanks for answering this issue. I saw your answer to this same question on _angular-meteor_ forum, issue #878.

As I said there, I'm on vacations now (very short ones). So I'll check when arriving.

Again, many thanks for your efforts and bye ...

PD: looking forward to see my es2015 code when debugging on google chrome ...

[2015-12-19 19:25] pbastowski commented on #11
As I said in the meteor forum issue, I can't replicate your problem on a Mac or on Windows. In both environments I see the ES6 code, as expected, not the transpiled code.

[2015-12-19 19:25] #11 closed, assigned to nobody

[2015-12-19 19:28] #9 closed, assigned to nobody

[2015-12-19 19:35] pbastowski commented on #9
I just remembered this: if you really need to use `universe:ecmascript`, or any other JS handler that wants to compile ".js" files, then you can configure `pbastowski:angular-babel` to not compile ".js" files by adding the line below to **babel.json** in your Meteor project's root folder.

**babel.json**

[code]

This will instruct `angular-babel` to only compile JavaScript files with the extensio

[2015-12-19 19:35] pbastowski commented on #8
Closing due to lack of response.

[2015-12-19 19:35] #8 closed, assigned to nobody

[2015-12-23 11:27] mxab opened #12 "browser-polyfill breaks check method if not added before for phantom and older chromes"
Hi,
the rendering with phantomjs for our webapp stopped working because the find method

[code]

started to throw an error

[code]

after some debugging I noticed that the check method checks if the limit value is a number by comparing the given pattern "Number" its available types
https://github.com/meteor/meteor/blob/devel/packages/check/match.js#L151

the Number function in typeofChecks is the

[2015-12-23 15:14] mgrivera commented on #9
Hi all,

I've tried this and it works. I mean:
1. add _babel.json_ as @pbastowski just said
2. add _ecmascript_ package
3. run your meteor app
4. there won't be any conflict between _angular-babel_ and _ecmascript_ because angular-babel won't compile (ie: transpile) js files; ecmascript will.

bye ...

[2015-12-23 15:38] pbastowski commented on #9
But if you do this some ES7 features will be missing, such as decorators, which are required for angular2-now, for example.

[2015-12-23 16:27] mgrivera commented on #11
Hi @pbastowski,
I've been reading some info regarding this issue. There is a _workspace_ option in chrome debugging tools settings: _settings - workspace - folders_.

Do you think I can solve my issue if I add an entry in this form? There is an option to add a _folder_ and an option to add _options_ for the folder you added. Maybe by adding a folder and then its options Google Chrome will find and

[2015-12-23 19:23] pbastowski commented on #11
I can't see how this is going to help, actually. Could you try the same repo in Firefox, just to see if it has perhaps something to do with your Chrome installation?

[2015-12-23 19:24] pbastowski commented on #11
Actually, forget about my previous suggestion. I forgot that it doesn't work with FireFox.

[2015-12-23 20:10] mgrivera commented on #11
Well, I just receive a number of this type of warning when running my program in chrome:

So I supposed it could have to do with setting a folder where chrome developer tools could find the sources and resolve the mappings.

Maybe it is not the correct path to solve the issue ...

[2015-12-23 21:23] pbastowski commented on #11
I have something for you that may help. It's a new branch of angular-babel with source-maps in separate files. I hope this helps you, but we'll need to test this to find out for sure.

First, stop your meteor application. Then do the following:
1. `cd` to your project's root folder.
2. `mkdir packages && cd packages`
3. `git clone https://github.com/pbastowski/angular-meteor-babel.git`
4. `cd angu

[2015-12-23 21:40] pbastowski commented on #12
@mxab What version of angular-babel are you using?

Also, you said "started to throw an error". When did it start doing that and what changes were made, if you can remember?

[2015-12-23 22:57] mgrivera commented on #11
@pbastowski, Wow, you did it!!
I'm, finally, seeing my (es6) code in chrome debugger. Many thanks and _congratulations_. Issue corrected.

Now tell me: I think this is going to be a final (next) version some time. Maybe this is going to be in the **next** version of angular-babel? (I hope so)

Again, many thanks for all your help. It is very appreciated here. Bye ...

[2015-12-24 06:44] mxab commented on #12
I didn't add any explicit version, it just happens if you use meteor's angular package

see this example:
https://github.com/mxab/check-babel-problem

if you try to render it via phantomjs you will get an error
`Uncaught Error: Match error: Failed Match.OneOf or Match.Optional validation`

if I add your package at the beginning of the packages file it will work again

[2015-12-24 09:41] pbastowski commented on #12
Thanks for the repo. So, it's the latest 1.0.7, as listed in the `.meteor/versions` file.

It might be a silly question, but how do I render it under phantomjs?

[2015-12-24 12:41] mxab commented on #12
run this script with phantom:

[code]

if you want to see it in a browser, I recommend an older chromium
https://www.chromium.org/getting-involved/download-chromium

I think I downloaded this one to debug the issue
https://commondatastorage.googleapis.com/chromium-browser-snapshots/index.html?prefix=Mac/303344/

[2015-12-24 17:00] mxab commented on #12
according to the chrome debugger the Number function comes from here
https://github.com/pbastowski/angular-meteor-babel/blob/meteor1.2/lib/browser-polyfill.js#L2130

[2015-12-24 17:09] mxab commented on #12
how do you generate the browser-polyfill.js?
The overwritting happens here:
https://github.com/pbastowski/angular-meteor-babel/blob/meteor1.2/lib/browser-polyfill.js#L2152

Is there any reason why Number is polyfilled?

[2015-12-24 22:16] pbastowski commented on #12
I get the polyfill from babel-core `node_modules/babel-core/browser-polyfill.js`.

I would say there is no reason to polyfill unless it doesn't already exist. So, a good question is why is it being poly-filled without checking first for it's existence?

When I add a check for the existence of `Number` then the error is gone.

[code]

I can add the above check to the polyfill's code and then we'd n

[2015-12-25 05:24] zloirock commented on #12
https://github.com/zloirock/core-js/issues/38#issuecomment-76114855

[2015-12-25 10:34] pbastowski commented on #11
Yes, I will release this change in an upcoming version.

[2015-12-26 19:37] pbastowski commented on #12
Thanks @zloirock for the link.

So, I'd say option 1 is still the easiest solution (workaround) to implement, meaning, to move `pbastowski:angular-babel` to near the top of the packages file, as suggested by @mxab . Right?

[2015-12-27 04:47] zloirock commented on #12
I don't use  `meteor`. If you can require `core-js` / `babel-polyfill` before `match` - sure, it's the best solution. AFAIK most `meteor` packages use the third way - custom build or usage only required modules by CommonJS API.

[2015-12-29 11:27] pbastowski opened #13 "Error: regeneratorRuntime is not defined in server-side Babel compiled code"
This problem is first mentioned here: https://github.com/Urigo/angular-meteor/issues/1015#issuecomment-167597793

The problem is to do with babel helpers, such as the browser-polyfill, only being loaded on the client. I only loaded them on the client, because the file was called "browser-...". So, I didn't think to include it on the server, which resulted in the error. Adding this file on the serv

[2015-12-31 20:05] DrDanRyan opened #14 "version 1.0.8 screws up causes check/match.js to throw errors for string _id values"
This is probably related to the other polyfill issues, but since upgrading to 1.0.8 my app crashes on any subscription complaining that the Meteor generated string _id does not pass the check/match.js test. If I explicitly install pbastowski:angular-babel and move it to the top of my packages list, the issue goes away.

I also had to uninstall meteortoys:allthings to get the app to run correctly s

[2015-12-31 20:47] pbastowski commented on #14
@DrDanRyan Sorry to hear about the problems you're encountering with v1.0.8. Is this in client or server code?

As a workaround, for now, you can downgrade to 1.0.7 by doing this

[code]

[2016-01-01 17:58] niceilm commented on #14
https://github.com/Urigo/angular-meteor have this same problem.
So it was resolved by downgrading to 1.0.7.

[2016-01-02 18:02] pbastowski commented on #13
I published v1.0.8 with the following changes:
- babel helpers, such as the browser-polufill, are now also added on the server side, which fixes the "not able to create generators on server” errors
- babel-core updated to 5.8.33

And ... the user reports that the problem is now fixed.

https://github.com/Urigo/angular-meteor/issues/1015#issuecomment-168412170

[2016-01-02 18:02] #13 closed, assigned to nobody

[2016-01-02 18:12] pbastowski commented on #12
@zloirock @mxab thanks for your help on this issue.

Since we have an easy workaround (adding `pbastowski:angular-babel` as first package) I plan to leave this issue as-is for the moment. Once I have upgraded the package to Babel 6.x, I can revisit the issue, if it still exists.

Closing for now, but, please feel free to re-open if required.

[2016-01-02 18:12] #12 closed, assigned to nobody

[2016-01-02 18:16] pbastowski commented on #14
@niceilm did you get this problem on the client or the server side code?

Also, for a workaround that does not involve downgrading to 1.0.7, could you please try putting `pbastowski:angular-babel` as the first package in your `.meteor/packages` file? Mostly this package is below other packages and moving it to the top, before `check` for instance, seems to fix the problem without having to downgra

[2016-01-03 05:36] bmanturner commented on #14
Also had this issue (server-side). Your fix works for now. Thanks.

[2016-01-03 16:07] pbastowski commented on #12
@mxab I have published `pbastowski:angular-babel@1.0.9`. Other users appeared to have similar problems to yours, so, I amended browser-polyfill.js to only polyfill `Number` if needed.

Let me know if this update fixes the problem for you.

Thanks.

[2016-01-03 16:10] pbastowski commented on #14
@niceilm @DrDanRyan @bmanturner  I have published angular-babel v1.0.9, which other users tell me has fixed the problem for them. Please let me know if it fixes your issue also. Thanks.

[2016-01-03 18:50] bmanturner commented on #14
Can confirm this fixed all my issues!

[2016-01-03 18:51] pbastowski commented on #14
@bmanturner thanks.

[2016-01-03 19:08] pbastowski commented on #10
@vangorra

There are some issues with using SystemJS on the Meteor backend, which I have experienced myself. For example, when I want to use `new Mongo.Collection(...)`, Meteor sometimes complains about having to run Meteor code in a Fiber. I haven't been able to fully get this working, which is why I haven't published the `server-systemjs` branch yet. Perhaps others have encountered similar issue

[2016-01-13 11:05] #14 closed, assigned to nobody

[2016-01-25 10:23] aadadey opened #15 "How to use find/findOne outside of a helper function"
Hello,

I am trying to use a findOne statement to access a document from a collection, within a transform function.

[code]

The problem is that the call on findOne returns nothing (undefined). Similarly, using find.fetch() returns an empty Array.

After troubleshooting, I find that running find or findOne anywhere in my code except directly as a helper (i.e. return Posts.find() works fine) return

[2016-01-25 10:45] pbastowski commented on #15
@aadadey This sounds like an angular-meteor issue and not specifically an angular-babel issue.
@dotansimha @urigo Could you please help?

[2016-01-26 00:08] Urigo commented on #15
@aadadey could you please re-open that issue on the angular-meteor repo?
thanks

[2016-01-26 02:36] aadadey commented on #15
Oh, I didn't realize I was posting in the wrong place. Well, regardless, I was able to get an answer on Stack Overflow, thank you for your response!

[2016-01-26 02:36] #15 closed, assigned to nobody

[2016-01-26 06:36] pbastowski commented on #15
For reference here is the link to the question on SO:

http://stackoverflow.com/questions/34990180/how-to-use-find-findone-outside-of-a-helper-function

[2016-02-03 15:27] Laurisylva commented on #8
I had the same problem than lokibg2.

I installed ng-showdown with bower and that error appeared because of the file "client/lib/bower_components/showdown/bin/showdown.js" who contains

[code]

I removed the first line but in the browser, the console prints then :

[code]

I have no idea what to do.

[2016-02-06 07:19] pbastowski commented on #8
@LordCaudralys

Looking at your two sample lines from showdown.js (which sits in a bin folder), this looks to me like a `bash` script or a file meant for nodejs, not the browser.

The [showdown README](https://www.npmjs.com/package/showdown#browser) gives an example of how to use showdown in the browser:

[code]

If I may suggest, have another good read through the showdown README and try again. I

[2016-03-19 11:52] Urigo opened #16 "Problem when using with Meteor 1.3"
Hi friend!

When using the package with Meteor 1.3 and removing `ecmascript` we get an error immediately:

[code]

Steps to reproduce - create a new Meteor 1.3 app with the latest RC.
remove `ecmascript` and add `pbastowski:angular-babel` and run the app.

thanks!

[2016-03-19 17:49] Urigo commented on #16
Ohhh and I guess adding `modules` solves it, so maybe the only thing needs to be done is to add it as a dependency - https://github.com/Urigo/angular-meteor/issues/1277#issuecomment-198752692

[2016-03-19 18:07] pbastowski commented on #16
Hi Uri. I'll look into this now.

[2016-03-19 20:23] pbastowski commented on #16
@Urigo
It appears that you are correct, in that we just need the `modules` package as a dependency. I will create a special Meteor 1.3 release of angular-babel.

Hey, did I notice correctly that Meteor's native `ecmascript` package will not get decorators with Meteor 1.3? (see https://github.com/meteor/meteor/issues/6057)

[2016-03-20 12:09] pbastowski commented on #16
@Urigo

OK, it's done. See pbastowski:angular-babel@1.3.1  https://atmospherejs.com/pbastowski/angular-babel

If you currently have my package in your project then please remove it first and then re-add it back. Also, in case you are interested, I updated my typescript package in the same way.

[2016-03-21 14:47] sebakerckhof opened #17 "Problem with default variables"
I upgraded `meteor-angular` to 1.3.7, which upgraded `pbastowski:angular-babel` to 1.0.9.
Since then, I have errors with functions that have default variable values:

I have a function like:

[code]

With `pbastowski:angular-babel@1.0.9`, this gets transpiled to:

[code]

This is of course incorrect, since a call like:

[code]

Will assign `{}` to variable `foo`.

Minimal reproduction: https://git

[2016-03-21 15:59] sebakerckhof commented on #17
Nevermind, the cached package downloaded by meteor was corrupt due to a hard drive issue. Removing the cached package solved this problem.

[2016-03-21 15:59] #17 closed, assigned to nobody

[2016-03-22 20:52] pbastowski commented on #17
@sebakerckhof
Nice one :) The best issues close themselves!
Thanks for providing your solution.

[2016-03-29 13:06] mxab opened #18 "1.0.8+ causes a "FATAL ERROR: JS Allocation failed - process out of memory" during runtime"
Hi,
we are currently trying to update our project to angular-meteor 1.3

there is something really strange happening if I use angular-babel above 1.0.7

The startup looks normal, but as soon as I open the page with an authenticated user the application loads for some time and then the server gets killed and restarted with the error mentioned in the title.

If I open the page with an anonymous user

[2016-03-29 13:48] mxab commented on #18
ok i debugged some more it kind of looks like the polyfill does again strange stuff after I added `promise` package before the angular-babel it seems to work again...

[2016-03-29 15:10] liadlivnat commented on #8
Guys is this issue solve? i get the same error without th ng-showdown, seems like meteor trying to compile node_modules under cordova folder, any idea why?
how can i avoid it?

[2016-03-29 15:16] pbastowski commented on #8
I haven't heard back from the reported since he created the issue, so, I don't know if it is solved.

What version of Meteor are you using?

Without seeing your repo I can't help much. So, if you could provide a link to it then I can have a look.

Also, in case you are working with Android, I don't have an Android device to test with. So, I can't help you much with that, unfortunately.

[2016-03-29 15:27] pbastowski commented on #18
Hi @mxab

So, if you change the order then it works fine again? Is that what you're saying?

What is the correct order that works for you?

BTW, I have released angular-babel@1.3.1 specifically for Meteor 1.3.

[2016-03-29 15:31] mxab commented on #18
Hi,
initially I had promise not added at all. I just saw during the debugging that there is then some polyfilling from the babel side.
after I added the meteor promise package it worked

I'm using the 1.3.1 package already now. I mentioned the 1.0.8 version only because this was the first version that caused that issue

[2016-03-29 15:32] mxab commented on #18
This seems to work for me

[code]

[2016-03-29 16:45] luncasu opened #19 "async / await doesn't work"
Upgraded to Meteor 1.3 & pbastowski:angular-babel@1.3.1 particularly to use async / await pattern.
However I get "**TypeError: Object [object Object] has no method 'awrap'**" error when **await** function is being called during execution. (project compilation is fine)

I have configures Babel to stage 2 but no luck. Any idea what I'm missing?
#### Meteor code

Meteor.methods({
  getUser: async ()

[2016-03-29 18:17] #16 closed, assigned to nobody

[2016-03-29 19:10] pbastowski commented on #18
@mxab
I've just pushed v1.3.2, with a change that reverts a regression that occurred somewhere along the way. The required functionality was to overwrite the default regenerator runtime supplied by Meteor, because it does not support async/await and some other stuff, with a custom version, which does.

So, that's back to the way it was and now I'm curious to see if it helps you. I know you already

[2016-03-29 19:11] pbastowski commented on #19
@luncasu

I've just pushed v1.3.2 with a change that reverts a regression, which occurred somewhere along the way. The required functionality was to overwrite the default regenerator runtime supplied by Meteor, because it does not support async/await and some other stuff, with a custom version, which does.

Could you please check and let me know if it helps?

Thanks.

[2016-03-29 19:22] mxab commented on #18
Hi,
just tried it unfortunately the it is still stuck as soon as I move the promise dependency after angular babel (1.3.2)

[2016-03-29 19:32] pbastowski commented on #18
Ok, thanks for trying. At least it does not make things worse :)

[2016-03-29 19:36] mxab commented on #18
sure :)

[2016-03-30 05:19] luncasu commented on #19
v1.3.2 fixed the issue. Thanks a lot.
My code looks much better now.

[2016-04-04 14:35] sauliuni opened #20 "Babel and bower"
In my project ( meteor + angularjs 1) i use bower for several packages, like ngDraggable. Now i want to upgrade my project to meteor 1.3 and use npm + native bower from npm in my project. After installing bower i run 'bower' in the project root, so that bower installs the packages. If then i start the server, i get errors like:

`[BABEL] Note: The code generator has deoptimised the styling of "/bo

[2016-04-04 18:59] pbastowski commented on #20
Hi @sauliuni
Do not install from bower, because Meteor 1.3 does not support it. Only use NPM. This will solve lots of issues for you in the first place.

[code]

The above is just an info and can be safely ignored.

The jquery related errors are there, because you used bower.

Also, you may not need to install jquery, because Meteor already includes it for you.

[2016-04-04 19:00] #19 closed, assigned to nobody

[2016-04-05 19:52] IDCOLL opened #21 "Error: No metadata files found for isopack at"
I am trying to execute, meteor add angular. I get the error message as stated in the subject in my console. Can you please assist.

I will drop the entire I receive below:

**C:\Users\Ixx Cxxxxx\AppData\Local.meteor\packages\meteor-tool\1.3.0_3\mt-os.windows.x86_32\isopackets\ddp\npm\node_modules\meteor\promise\node_modules\meteor-promise\promise_server.js:116
      throw error;
            ^
Erro

[2016-04-05 20:31] pbastowski commented on #21
Hi @IDCOLL
Without your repo for me to look at it is difficult for me to help you. Could you please add a link to your repo here?

[2016-04-06 08:28] IDCOLL commented on #21
Hi @pbastowski,
Thanks for the reply. I am very new to meteor and angular and don`t really know what you mean with repo....

I have however managed to fix the issue:
1. The issue occurred when following the Angular-Meteor tutorial.
2. Removing blaze-html-templates and ecmascript and then adding angular lead to the problem.
3. What I didn`t realize is that the actual issue was me upgrading to meteo

[2016-04-06 16:26] pbastowski commented on #21
@IDCOLL
repo = github **repo**sitory

It is good to hear that you have fixed the issue.

Closing this ticket.

[2016-04-06 16:26] #21 closed, assigned to nobody

[2016-04-07 21:22] mxab opened #22 "Babel Note about browser-polyfill-old.js"
When I build my program I get:

[code]

Not sure what it means and if it is ok :)

[2016-04-08 05:30] pbastowski commented on #22
Two answers:
1) It's just an info message from Babel that can be safely ignored.
2) I will investigate why it mentions a "-old.js"

Thanks for reporting this.

[2016-04-08 12:19] pbastowski commented on #22
@mxab
I just published v1.3.3, which no longer shows the Babel Note.

Let me know if this helped.

[2016-04-08 12:52] mxab commented on #22
hi,
my build looks ok, the message is gone.

Unfortunately the build still takes about 10 mins but I guess it does not relate to this

Thanks

[2016-04-08 12:52] #22 closed, assigned to nobody

[2016-04-08 12:54] pbastowski commented on #22
Thanks for checking.

wow, 10 mins. Was it also taking this long with Meteor 1.2?

[2016-04-08 12:56] mxab commented on #22
I'm not 100% sure but I would say that it felt a bit faster, any ideas?

[2016-04-08 12:58] mxab commented on #22
one thing i did with my 1.2 version was that I loaded a lot of libs like jquery, angular, angular-XXX via cdn maybe this had some effect on the minification process

[2016-04-08 13:31] pbastowski commented on #22
Using CDNs would definitely have had an impact, because there would have been no need to minimise all those libraries. How many JS files do you have in your project?

[2016-04-08 13:47] mxab commented on #22
about 450 js files

[2016-04-08 13:48] mxab commented on #22
sorry thats wrong 450 html+js files

[2016-04-08 13:50] mxab commented on #22
138 html
 311 js
 16 less

[2016-04-12 13:41] pbastowski commented on #20
Closing due to lack of response from initiator.

[2016-04-12 13:41] #20 closed, assigned to nobody

[2016-04-26 13:11] doronsever commented on #8
This is happening to me also(using mupx on codeship)

This is the log(verbose)

Errors prevented bundling:
While processing files with pbastowski:angular-babel (for target web.browser):
packages/compileNGScript_plugin.js:116:23: error: couldn't process source due
to parse error:

Unexpected character '#' (1:0)
at processFile (packages/compileNGScript_plugin.js:116:23)
at Array.forEach (native)
at

[2016-04-27 07:43] pbastowski commented on #8
I will look into this issue over the coming weekend.

[2016-04-27 08:20] MinhTri66 opened #23 "Errors prevented startup: pbastowski:angular-babel... Babel transform error"
Hello thank you so much for the awesome package. I am following this tutorial: http://www.angular-meteor.com/tutorials/socially/angular1/3-way-data-binding

At the **3.3  Add some data to the parties collection server/startup.js**

After I make startup.js file in the server/ folder and insert above code, then the browser returned error:

I am using window7 ultimate 64bit and the meteor 1.3. I have

[2016-04-27 10:00] pbastowski commented on #23
In the fragment of code below

[code]

Try replacing `&gt;` with `>`.

[2016-04-27 13:50] MinhTri66 commented on #23
OMG... it's a simple issue with a simple fix. I didn't realize this sooner. Thank you very much, everything works like a charm now :+1:

[2016-04-27 13:50] #23 closed, assigned to nobody

[2016-04-28 13:22] pbastowski commented on #23
You are welcome :)

[2016-04-29 15:52] doronsever commented on #8
I finally got this to work.
Turns out Codeship are adding 2 js files(They are 100% not on my repository) when they clone the build:
phantom_runner.js
start_test.js

So at the deployment stage i just remove it (rm -rf) and now everything works as expected.
Hope it will help someone in the future.

10x a lot though!

[2016-05-02 09:05] dohomi opened #24 "chrome inspector is stopping at babel compiler"
Hi
we are currently investigating why on hot code push open tabs of our app are constantly reloading after code changes and re-deploy. I have the feeling one issue could depend on this plugin, if I enable `Pause on caught Exceptions`in Chrome debugger I find this error:

[code]

Its very hard to know where this error belongs but have you experienced this by any chance?

[2016-05-02 10:24] pbastowski commented on #24
No, I haven't see this error myself.

Just thinking, what is `Function.all`? I know there is a `Function.call()` method.

[2016-05-03 02:00] dohomi commented on #24
We will try to investigate further. It seems to be a polyfill issue somewhere in the code but its almost impossible to track it down. I come back if it really belongs to your plugin.

[2016-05-03 02:00] #24 closed, assigned to nobody

[2016-05-16 09:26] pbastowski commented on #18
Closing this issue, as I don't know how to fix it atm and there is a workaround.

[2016-05-16 09:26] #18 closed, assigned to nobody

[2016-05-18 01:04] mariohmol commented on #8
Same here, using OSX was easy to reproduce:
- meteor create simple-todos
- meteor add angular
- meteor remove blaze-html-templates ecmascript
- meteor

Here are my versions

Showing the error:

`Errors prevented startup:

While processing files with pbastowski:angular-babel (for target web.browser):
packages/compileNGScript/plugin/ng-script-compiler.js:101:1: error: couldn't process source due to

[2016-05-19 06:20] pbastowski commented on #8
@mariohmol
You have to also

[code]

The modules package is what gives you the ability to `import ... from`.

Also, be aware that by removing `blaze-html-templates` the blaze template portion of this demo app won't work.

[2016-05-19 13:16] mariohmol commented on #8
I had a project , that were basic this example but i had same error after adding modules.

About removing `baze-html-templates`, i followed instructions that are here:
- https://github.com/urigo/angular-meteor/

I had to remove my project, create again and after running `meteor add modules` it worked.

I opened a issue in angular-meteor so them can include add modules in readme.
- https://github.c

[2016-05-30 22:11] fromthemills opened #25 "compileNGScript - Object has no method 'existsSync'"
Hi,

just tried upgrading my project to the latest beta version of meteor (1.3.3-beta.1) to get a bug fixed. I got the following error in your package.

[code]

Is this some breaking change they overlooked in the beta or might this be related to your package?
I hope the error gives you enough info. Let me know if you need more detailed information about my setup.

[2016-05-31 08:00] pbastowski commented on #25
I have just pushed 1.3.5. Please try it and let me know if it helps.

[2016-05-31 10:23] Ben305 commented on #25
I was running into the same problem, 1.3.5 seems to fixes that. Can you remove the console.log statement again?

[2016-05-31 12:03] fromthemills commented on #25
Yup, I can confirm this is fixed in version 1.3.6. Thanks for the quick response!

[2016-05-31 12:03] #25 closed, assigned to nobody

[2016-05-31 17:06] pbastowski commented on #25
@Ben305
Done and thanks for catching that.

[2016-06-25 15:15] iain17 commented on #25
I've just tried updating to Meteor 1.3.4.1 and still have this issue?

[2016-06-25 15:16] Ben305 commented on #25
@iain17 Are you sure that you are using the latest version? Updating the Meteor Release doesn't mean that the used package version is updated, too.

[2016-06-27 12:30] iain17 commented on #25
@Ben305 I made sure to update every package before doing the meteor update. Has the atmosphere package been updated?

[2016-06-27 13:42] pbastowski commented on #25
@iain17 If you are asking if `pbastowski:angular-babel` has been upgraded to work with Meteor 1.3 then the answer is yes. I use it myself even with Meteor 1.4-beta.2.

If you share a link to your repo then I could have a look at it for you.

[2016-06-29 12:44] mkristo commented on #24
@dohomi: Just out of curiosity, did you ever come to any conclusion what was causing this? I'm seeing the same behavior currently. I'm not using angular-meteor-babel though.

[2016-06-29 13:07] jgwconsulting commented on #24
Yes,I am as well, using React.

[2016-06-29 13:15] jgwconsulting commented on #24
Possibly related:
- https://github.com/zloirock/core-js/issues/186
- https://bugs.chromium.org/p/v8/issues/detail?id=5057

[2016-06-29 18:38] ppss198 commented on #25
I've just tried updating to Meteor 1.3.4.1 and still have this issue.........

xmapp 1.4: updated to Meteor 1.3.4.1.

=> Started proxy.
=> Started MongoDB.
=> Errors prevented startup:

   While loading plugin `compileNGScript` from package `pbastowski:angular-babel`:
   <runJavaScript-48>:155:12: Object [object Object] has no method 'existsSync'
   at getCustomConfig (<runJavaScript-48>:155:12)

[2016-06-29 19:03] pbastowski commented on #25
@ppss198
The latest version is 1.3.6. Try this

[code]

If you still get the error then please post the contents of your `.meteor/versions` file and `.meteor/packages` file, so I can see what version of the package Meteor is working with.

[2016-06-29 19:18] ppss198 commented on #25
it's right, the problem is solved,thank you very much

[2016-06-30 04:31] dohomi commented on #24
@mkristo at the moment there seems some additional chrome and firefox issues. I haven't really worked it out - waiting for a Meteor update because currently my sourcemap also doesn't work as expected any longer

[2016-06-30 08:23] mkristo commented on #24
So, I've managed to prevent the issue from happening in my project. I was using babel-polyfill v 6.5.0. The code that started the Chrome Inspector debugger was (in Promise-related code)

[code]

My guess is that Chrome doesn't recognize that as a catched exception, and thus pauses execution.

The solution for me was to simply bump babel-polyfill to the latest version, which is v 6.9.1 as I'm writi

[2016-07-01 02:37] hansonchun commented on #25
Hi,

I just updated to Meteor 1.3.4.1 as well and started getting this issue. I'm currently on angular-babel 1.3.6.

[2016-07-01 07:16] vzaidman commented on #24
+1

[2016-07-01 16:42] ericsoco commented on #24
@mkristo seems to have nailed it. bumping `babel-polyfill` from 6.7.2 to latest (`6.9.1`) fixed the debugger stop for me.

FWIW, this has nothing to do with Angular or Meteor or React. It's just a `babel-polyfill` thing.

[2016-07-01 19:13] pbastowski commented on #25
@hansonchun

I don't have a Windows machine at this moment, so, it's not possible for me to replicate your issue.
Having said that, try doing this:
1. Stop your meteor app
2. Delete the `./meteor/local` directory, which is where Meteor caches all it's compiled code
3. Start your meteor app again

If you keep seeing the same problem then please post a link to your repo and I will have a look at it

[2016-07-01 23:30] hansonchun commented on #25
Yes, that seemed to fix it. Thanks so much!

[2016-07-06 14:46] Ben305 opened #26 "Angular server service not working correctly when using angular-meteor-babel instead of ecmascript"
I have a Meteor application (running currently 1.3.4.1) using Angular-Meteor (Angular 1.5.x) and Angular-Meteor-Server (https://github.com/netanelgilad/angular-meteor-server). When Meteor 1.3 was released, I started to write code in ES6 and I've reached the point where the packages that contain the server side angular services are ready to be rewritten in ES6.

Now I have a package which contains

[2016-07-06 15:32] pbastowski commented on #26
@ben305
I'm on holidays right now. If you can wait 10 days or so then I wi try to help you, once I get back.

[2016-07-06 15:35] Ben305 commented on #26
@pbastowski Enjoy the holidays, this can wait until you're back!

[2016-07-15 14:55] auterium opened #27 "'import' and 'export' may only appear at the top level"
As of Meteor version 1.3.3 "import statements in application modules are no longer restricted to the top level, and may now appear inside conditional statements (e.g. if (Meteor.isServer) { import ... }) or in nested scopes." which is from the ecmascript package that Meteor uses by default.

Looking through the packages I found that this one uses babel-core 5.8.23 directly and Meteor's ecmascript

[2016-07-18 13:33] nickovchinnikov opened #28 "Error on meteor update"
[code]

[2016-07-18 14:07] pbastowski commented on #27
Hi @auterium
I am actually trying to drop support for my `angular-meteor-babel` package, because it is now possible to add any functionality to `ecmascript` through the use of the `.babelrc` config file. See notes for Meteor 1.3.3.

The only thing that is not supported through `.babelrc` is `ng-annotate`.

Do you need `ng-annotate` support in your project?

[2016-07-18 14:11] auterium commented on #27
Hi @pbastowski, thanks for the answer. I've figured out how to use the ecmascript package directly without the ng-annotate and it works fine. I do miss the ng-annotate support as it's very helpful, but it's not the end of the world without it.

I'm not familiar with babel, so I'm not sure how to add functionality to ecmascript with .babelrc.

Any help, guidance, or references on adding ng-annotate

[2016-07-18 14:12] pbastowski commented on #28
@master-7
You did not specify what version of Meteor you are updating to or from, so, it's difficult to tell what the error might be related to. However, assuming that you're updating to Meteor 1.3.x, it's probably just left over cached stuff.

Try deleting the `.meteor/local` folder. Usually this helps.

In your project's root folder type this at the command line:

[code]

If the above did not he

[2016-07-18 14:30] pbastowski commented on #26
@Ben305 Is this still a problem for you?

[2016-07-18 15:03] nickovchinnikov commented on #28
meteor --version
Meteor 1.3.2.4

Start the upgrade to Meteor 1.3.4.4

I try the delete .meteor/local its not works

[2016-07-18 15:27] pbastowski commented on #28
Are on Windows, Linux or OS X?

If on OS X then try try deleting it this way

[code]

[2016-07-18 15:28] nickovchinnikov commented on #28
Ubuntu, and am run
`sudo rm -r .meteor/local`

[2016-07-18 15:33] pbastowski commented on #28
Ok, thanks. Please try my suggestion above with two separate lines.

[2016-07-18 15:34] pbastowski commented on #28
Also, what error message do you get when you try to delete?

[2016-07-18 15:36] nickovchinnikov commented on #28
No error message - directory is deleted and this all. Next im run the meteor update and problem repeated

[2016-07-18 15:40] pbastowski commented on #28
Very strange, because that's normally all you need to do to fix this issue.

Can you please push your repo to github and then I can clone it and try and help you?

If you can't push the same repo then  try to replicate the problem in a new project and push that to github.

[2016-07-18 15:51] nickovchinnikov commented on #28
Im view the message
`* pbastowski:angular-babel 1.0.9 (1.3.6 is available)`
Am change the version angular-babel in file .meteor/versions and meteor update went well.
Fixed, and thank you very much for your help!

[2016-07-18 15:54] pbastowski commented on #28
Good to hear :)

[2016-07-18 15:54] #28 closed, assigned to nobody

[2016-07-18 21:47] pbastowski commented on #27
Firstly, it's good that you worked this out for yourself. You always learn something that way.

Secondly, unfortunately there is no easy way to add ng-annotate to Meteor while using the `ecmascript` package at the same time, which is why I created my `angular-babel` package in the first place.

There may be a Babel plugin that does this, but it would have to be configured in the `.babelrc` file.

[2016-07-18 23:16] auterium commented on #27
Thanks @pbastowski, I don't like to wait for someone else to figure out things for me if I can do so, or at least not before trying it myself.

Anyway, thanks for the help, I'll try to convince Uri Goldstein to change the tutorials to include both options.

[2016-07-19 05:39] #27 closed, assigned to nobody

[2016-07-19 06:27] Ben305 commented on #26
@pbastowski Yes, nothing has changed. The sample is still up to date.

[2016-07-26 23:46] tmgriffith commented on #25
@pbastowski

Not sure what I did wrong, Was only trying to add the dependency

`meteor add pbastowski:angular-babel
C:\Users\Tim\AppData\Local\.meteor\packages\meteor-tool\1.4.0\mt-os.windows.x86_32\isopackets\ddp\npm\node_modules\meteor\promise\node_modules\meteor-promise\promise_server.js:165
      throw error;
      ^

Error: No metadata files found for isopack at: /C/Users/Tim/AppData/Local/.m

[2016-07-26 23:57] tmgriffith opened #29 "meteor 1.4 install issue"
@pbastowski

Not sure what I did wrong, Was only trying to add the dependency
already removed ecmascript and the blaze templates

[code]

[2016-07-27 04:49] pbastowski commented on #29
It looks like a Meteor 1.4 upgrade issue. Have you tried deleting the '.meteror/local' folder?

[2016-07-30 21:16] tmgriffith commented on #29
Unfortunately I did a clean install. Ill go find an old install directory for 1.3.4 and install instead. Thanks!

[2016-07-30 21:16] #29 closed, assigned to nobody

[2016-08-04 11:14] eon-duplessis opened #30 "The package pbastowski:angular-bable may not be compatible with meteor 1.4"
Hello.

I have detected an error in my application using meteor 1.4 and your package.

`modules.js?hash=aad6928…:14609 Error: only one instance of babel/polyfill is allowed
    at Object.eval (eval at <anonymous> (jquery.js:339), <anonymous>:2872:9)
    at Object.1.180 (eval at <anonymous> (jquery.js:339), <anonymous>:2875:4)
    at s (eval at <anonymous> (jquery.js:339), <anonymous>:2863:254)

[2016-08-04 13:31] pbastowski commented on #30
@Algahzor
Can you please post a link to your repo and I will have a look at it for you? As it stands, I am not able to reproduce the error you mentioned above. It's probably a clash with another package in your project and that's why I need to see your actual project.

At the very least please post here the contents of the following files:
- `.meteor/release`
- `.meteor/packages`
- `.meteor/versio

[2016-08-06 10:30] pbastowski commented on #30
@Algahzor
I just noticed that you have an error in the example above in the meteor remove statement

[code]

should be

[code]

If the code you supplied in your example was exactly what you did, then you would indeed have a problem, because `blaze-html-templates` would not have been removed, which would result in a Meteor error. However, it would not explain the problem with the polyfill message.

[2016-08-10 14:49] pbastowski commented on #26
@Ben305 I'm sorry, but I'm too busy with projects still to look at this issue. Also, I don't use angular server for anything, which doesn't help me in tracking the problem down.

Have you tried just using `Meteor.methods({ ... })` instead? Also, I use `Tracker.Autorun()` on the front-end to catch changes to data in my database collections.

[2016-08-15 16:32] kvasilaky commented on #25
Hi:
I am following this tutorial to create a forum with meteor. I am 1 hour new to meteor and trying to get this up an running quickly:
https://www.codementor.io/meteor/tutorial/build-forum-engine-using-meteor-angularjs

I updated my meteor version (meteor update pbastowski:angular-babel).
I'm having trouble running the app at the point where it says: "At this point you can run the app."

The erro

[2016-08-15 19:32] pbastowski commented on #25
Hi @kathrynthegreat
The problem appears to be reported by the `angular-templates` package, as it states in the error message you supplied, and not `pbastowski:angular-babel`.

Most likely, if you have removed `blaze-html-templates` and added `angular-templates`, the issue is to do with some extra code in your `main.html`, such as

[code]

I had a look at the tutorial link you posted above, but I d

[2016-10-04 22:11] #26 closed, assigned to nobody

[2016-10-04 22:12] #30 closed, assigned to nobody

[2016-10-31 12:28] jeremy-seipelt opened #31 "Errors prevented startup/ng-script-compiler"
When using $meteor run

I get the following error-message:

[code]

Here is the complete Startup log:

[code]

I would appreciate if there is a way for finding the source of this error. I cant even find  ng-script-compiler.js in my Project folder to look what happens at line 97.

here is my meteor list:

[code]

and my npm list:

[code]

Tell me if you need more Infos.

[2016-10-31 14:47] pbastowski commented on #31
@jeremy-seipelt
I have just published v1.3.7 with a bug fix. Please give it a try and let me know if it's better now.

Thanks.

[2016-11-01 09:09] jeremy-seipelt commented on #31
I had to refractor my project to get some work done so i cant reproduce the issue anymore so you can close if you want

[2016-11-01 09:36] pbastowski commented on #31
OK, thanks.

[2016-11-01 09:36] #31 closed, assigned to nobody

[2016-11-25 00:36] sebakerckhof opened #32 "Meteor 1.4 version with reify"
Since Meteor 1.4, Meteor supports nested imports through https://github.com/benjamn/reify
When using angular with this plugin, one looses this ability...

[2016-11-25 08:27] pbastowski commented on #32
True. I have no idea how to integrate reify into angular-babel. Do you?

Also, are nested imports an industry standard or just a Meteor/reify feature?

[2016-11-25 16:48] sebakerckhof commented on #32
It's not industry standard. It's a reify feature, but it can be used outside of Meteor (not outside of reify).

I first thought it was just a babel plugin, but apparently it works different.
It's a runtime library you need to include in your application. This is done by the Meteor 'modules' package. Since this package uses the modules package I don't understand why this doesn't work. Maybe one als

[2017-06-28 09:04] SimonSimCity opened #33 "Wrong result of import after updating `modules` to 0.9.0"
I guess your extension here is incompatible with `modules` since v0.9.0. It's quite easy to reproduce. Here's a quick manual of how to do it. Install a plugin (like `hwillson:stub-collections`) into a fresh project (like described here: https://github.com/hwillson/meteor-stub-collections/issues/17#issuecomment-311351863). Run the project by calling `meteor` and you see, that it works as expected.

[2017-06-28 09:53] pbastowski commented on #33
I think you're right. I haven't been maintaining this plugin for a long time now, so, it is bound to have issues.

I would suggest using the ecmascript package instead, because the main real benefit from using my package was the integration with ng-annotate.

When I was still coding in angularjs I was using my ng2now library, available on npm, which largely removes the need for using ng-annotate a

[2017-06-28 09:56] pbastowski commented on #32
I'm closing this issue, since I no longer support this package. I still have to add a deprecation warning to the readme.

[2017-06-28 09:56] #32 closed, assigned to nobody

[2017-07-03 13:17] SimonSimCity commented on #33
I've now solved it differently - you could also update your README.md if you want ...

Since this package doesn't seem to be maintained anymore, and running `ng-annotate` was it's only benefit over `ecmascript`, and the `ng-annotate` pacakge is discontinued by a babel plugin (as you can read in the README.md of the project https://github.com/olov/ng-annotate) I did this.

For anyone running into t

[2017-09-04 05:13] ananthavel opened #34 "Unexpected character # while files with pbastowski:angular-babel"
Hi Mate,
Im facing the below issue while running **$meter run android**  on my ubuntu machine.

**Below is my console log :**
Started proxy.
=> A patch (Meteor 1.4.1.3) for your current release is available!
   Update this project now with 'meteor update --patch'.
=> Started MongoDB.
=> Errors prevented startup:

   While processing files with pbastowski:angular-babel (for target
   web.browser):

[2017-09-04 06:22] pbastowski commented on #34
Hi Ananth

I no longer support this package, which is why it breaks.

Have you tried doing what was suggested by this other user: https://github.com/pbastowski/angular-meteor-babel/issues/33

[2017-09-05 08:56] #33 closed, assigned to nobody

[2017-09-07 14:36] aymericbouzy commented on #33
Thanks @SimonSimCity! I first had to remove all dependencies to `pbastowski:angular-babel` in my local packages : I had to replace all `api.use("pbastowski:angular-babel")` by `api.use("ecmascript")`. Just in case someone else does the same migration !

[2017-09-07 22:49] aymericbouzy commented on #33
It's not working for me after all 😢 package `angular` depends on `pbastowski:angular-babel` ... @pbastowski, @SimonSimCity, any advice?

[2017-09-07 23:59] aymericbouzy commented on #33
Found a solution! According to `https://guide.meteor.com/1.3-migration.html`, I can remove my dependency on `angular` package by using `angular` npm module instead 🎉

EDIT : my codemod for including angular import when needed :
[code]
(then replace all `ANGULAR` by `angular`)

[2017-09-08 07:02] pbastowski commented on #33
@aymericbouzy Yes, that's exactly what I was going to suggest :) I'm glad you found it!

[2017-09-08 23:21] aymericbouzy commented on #33
Thanks : now I run into another issue :
[code]
Is it because I'm running Meteor 1.3.5.1 (Node 0.10.x ?) My issue is that I can't upgrade to Meteor 1.5 for now, but I still want to be able to use es6 syntax, especially modules. This project I have to maintain has so many outdated dependencies 😵

[2017-09-09 15:25] SimonSimCity commented on #33
@aymericbouzy wasn't ES2015 support actually introduced in Meteor `1.3` ..? Maybe it's something with babel, that it for some reason doesn't translate this module ... Don't know ... Maybe the step to Meteor `1.4` helps you.

[2017-09-10 09:00] pbastowski commented on #33
@aymericbouzy Can you share your repo? I will try to help you.

[2017-09-10 14:08] ananthavel commented on #33
Hi,
I tried following commands,

[code]
$ meteor npm install --save-dev babel-plugin-angularjs-annotate
npm ERR! Linux 3.13.0-129-generic
npm ERR! argv "/home/xxx/.meteor/packages/meteor-tool/.1.4.1_1.c8r5vz++os.linux.x86_64+web.browser+web.cordova/mt-os.linux.x86_64/dev_bundle/bin/node" "/home/xxx/.meteor/packages/meteor-tool/.1.4.1_1.c8r5vz++os.linux.x86_64+web.browser+web.cordova/mt-os.linux.x8

[2017-09-10 14:31] pbastowski commented on #33
@ananthavel could you please post your package.json here? I think it may be missing a comma.

[2017-09-10 14:34] ananthavel commented on #33
"name": "proj-name",
  "private": true,
  "scripts": {
    "start": "meteor run"
  },
  "dependencies": {
    "angular": "^1.6.0",
    "angular-material": "^1.1.1",
    "angular-meteor": "^1.3.11",
    "angular-ui-router": "^0.3.2",
    "babel-runtime": "^6.20.0",
    "bootstrap-ui-datetime-picker": "^2.4.4",
    "meteor-node-stubs": "^0.2.11",
    "tether": "^1.4.0"
  },
  "devDependencies": {

[2017-09-10 15:21] pbastowski commented on #33
@ananthavel add a comma just before the "babel" key

[2017-09-10 17:33] ananthavel commented on #33
Thanks pbastowski, it solved my problem.
Ending in another error while running meteor. Will look for resolving.

[2017-09-24 08:27] ananthavel commented on #33
Hi pbastowski,
Im ending in another issue after resolving the babel issue.

Error

Unable to resolve some modules:

“cordova/exec” in /home/ananth/workspace-meteor/proj-name/android/android/project/platform_www/cordova-js-src/platform.js
(os.linux.x86_64)
“cordova/channel” in
/home/ananth/workspace-meteor/proj-name/android/android/project/platform_www/cordova-js-src/platform.js (os.linux.x86_64)
“

[2017-09-24 09:44] aymericbouzy commented on #33
If you read the error, it says :
[code]

Also, first copy paste your error on Google and try solving by yourself before asking for help.
1. You'll learn more
2. You'll become more independent
3. You'll save other people's time
4. They'll be more ready to help when you face a real issue

[2017-10-25 20:38] leosco commented on #33
@aymericbouzy the `angular` package on atmosphere has been totally deprecated for a while. If you check the [legacy angular-meteor tutorials](https://angular-meteor.com/tutorials/socially/angular1/bootstrap), you migrate all that to npm packages. I believe the only atmosphere package you should be using, after following @SimonSimCity 's directions, is `angular-templates`.

@SimonSimCity amazing wo

[2017-10-25 22:19] aymericbouzy commented on #33
I have no knowledge at all of AngularJS, and I don't wish to start learning. The project I'm in charge of is simply in maintenance mode while we figure out how to rebuild a better solution.